* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 32px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fff;
  width: 100px;
}

button:hover {
  background-color: #ddd;
  transition: 0.3s all;
}

.counter {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  width: 100px;
  border: none;
  font-size: 42px;
  outline: none;
}

.counter-zero {
  color: black;
}

.counter-positive {
  color: green;
}

.counter-negative {
  color: red;
}
